@font-face { font-family: hacker; src: url('../fonts/hacker.ttf'); }
@font-face { font-family: iosevka; src: url('../fonts/iosevka-regular.ttf'); }
@font-face { font-family: mokoto; src: url('../fonts/Mokoto\ Glitch\ Mark.ttf'); }

body {
    background-color: #282828;
    font-family: iosevka, monospace;
    color: #EBDBB2;
    font-size: 14pt;
}

div {
    width: auto;
    max-width: 100%;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    margin-left: 17%;
    margin-right: 17%;
    padding: 3%;
}

.header {
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.header img {
    float: left;
    width: 30%;
}

a {
    text-decoration: none;
    color: #FABD2F;
}

a:hover, a:active{
    color: #e4cb8d;
}

cite{
    color: #a9eb8b;
}

h1, h2{
    font-family: mokoto, monospace;
    color: red;
    text-shadow: 2px 2px 5px black;
}
h3, h5, h6{
    font-family: hacker, monospace;
    color: aqua;
}

h4 {
    font-family: hacker, monospace;
    color: rgb(255, 254, 195);
    margin: 0%;
    padding: 0%;
    text-shadow: #4c5746 2px 2px 1px;
}

hr{
    color: #c4ebb2;
}

.features p, li {
    color: #eba18b;
}
.features p strong{
    color: rgb(197, 224, 170);
}
p span {
    color: #a9eb8b;
    font-size: 15pt;
    font-weight: bold;
}

.main-container {
    display: flex;
    justify-content: space-between;
}
img {
    max-width: 100%;
}
.text{
    font-size: 15pt;
}
.main-image {
    flex-basis: 40%
}

@media only screen and (max-device-width: 600px), (max-width: 600px) {
    .main-image {
        display: none;
    }
}

@media only screen and (max-device-width: 500px), (max-width: 500px) {
    .main{
        margin-left: 6%;
        margin-right: 6%;
        padding: 2%;
    }
    .header{
        flex-direction: column;
    }
    body {
        font-size: 2.6em;
    }
    .text {
        font-size: 1.2em;
    }
    p span {
        font-size: 4.2vw;
    }
    button a {
        font-size: 1.5em;
    }
}

.about{
    color: #D9ACA4;
}

.home a {
    padding: 5%;
    margin: 5%;
    font-size: larger;
    display: inline-block;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 2px;
    padding-bottom: 2px;
}

ul .mails li a:hover {
    color: aqua;
}

.btn-installation-guide {
    background-color: #413e3e;
    font-size: 16pt;
    color: blanchedalmond;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.installation-guide {
    text-align: center;
}

.btn-installation-guide:hover {
    background-color: #000000;
    font-weight: bold;
}

img .preview{
    width: 80%;
    height: auto;
}
